@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

.about-sec{
    max-height: 100vh;
    margin: 5%;
}


.footer-container{
    display: flex;
    justify-content: space-around;
    margin: 1.9rem;
    padding-left:0.6rem;
    padding-right:0.6rem ;
}
.footer-heading-1{
    font-size: 3rem;
    font-weight: 0.3rem;
    color: var(--main-heading);
    border-bottom: 3px solid;
}

.footer-heading-2{
    font-size: 0.3rem;
    font-weight: 4px;
    color: var(--para-clr);
}

.image{
    width: 25rem;
    height: 25rem;
    margin: 40px;
    
}

.footer-info{
    margin-left:5%;
    margin-top: auto;
    margin-bottom: auto;
}

.description-title{
    font-size: 3rem;
    font-weight: 0.3rem;
    color: var(--main-heading);
}



.footer-btn{
    margin:0.6rem;
    width: 8.7rem;
    height: 3.1rem;
    border: 2px solid var(--btn-bg-color);
    background: var(--bg-color);
    color: var(--btn-bg-color);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    transition: all ease 0.4s;
}

.footer-btn:hover{
    background: var(--btn-bg-color);
    color: #E9FFFC;
}