/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.light-theme{
  --main-heading:tomato;
  --para-clr:#f79d6d;
  --btn-bg-color:tomato;
  --btn-text-clr:#fff;
  --bg-clr:#E9FFFC;
  --box-bg:whitesmoke;
  --hd-bor:#E9FFFC;
}
.dark-theme{
  --main-heading:#21c5d1;
  --para-clr:#56f0eb;
  --btn-bg-color:#21c5d1;
  --btn-text-clr:#fff;
  --bg-clr:#0e302f;
  --box-bg:#4d8583;
  --hd-bor:#21c5d1;
}


body{
  background-color: var(--bg-clr);
}


